certifi
charset-normalizer
click
colorama
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
numpy
pickle4
requests
scikit-learn
scipy
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
